aside {
    width: 25%;
    height: 100%;
    background-color: rgb(206, 206, 206);
    color: rgb(65, 62, 62);    
}
.chatHeader {
    padding: 16px 20px 15px;
    display: flex;
    justify-content: space-around;    
    align-items: center;
}
.chat-users {    
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: rgb(91, 116, 172) 3px 0;    
}    
img {
    height: 3em;    
}
.counter {
    margin: -1em 0;
}
ul {
    height: 85%;
    overflow-y: auto;
}
ul::-webkit-scrollbar {
    width: 7px;
}
ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.4); 
    border-radius: 10px;
}
ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}
li {
    list-style-type: none;
    min-height: 6vh;
    height: auto;
    margin: 10px;
    background-color: #fff;
    border-radius: 6px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 11px 0 0 16px;
    word-break: break-word;
}

@media screen and (max-width: 920px) and (min-width: 600px) {    
    .chat-users {
        padding: 0 10px;
        font-size: 1.3em;
    }    
    li {   
        padding: 11px 0 0 16px;
    }
}
@media screen and (max-width: 599px) {    
    .chat-users {
        display: none;
    }    
    li {        
        padding: 11px 0 0 7px;
        overflow-x: hidden;
        font-size: 0.7em;
    }
}